<div class="catalogProduct">
    <a href="/products/productDetail"><img src="/images/productos/Casco/Casco2/edelrid_zodiac_34_imagen1.jpg" alt="" class="img-prod"></a>
    <div class="articleInfo">
        <i class="heart"></i>
        <h4 class="ProductName">Nombre Producto</h4>
        <p class="productBrand">Marca Producto</p>
        <p class="productPrice">$Precio</p>
    </div>
</div>