

<footer class="footer-home">
    <form class="suscribe" action="/subscribe" method="POST">
        <div class="form-label">
            <h3>Suscribite a nuestro newsletter</h3>
            <p>¡Mantente al dia con nuestras últimas ofertas!</p>
        </div>
        <div class="subvar">
            <input type="email" name="subscribe" placeholder="Email">
            <button type="submit"><a href="/"><i class="fas fa-arrow-right"></i></a></button>
        </div>
    </form>
    <div class="footerBottom">
        <div class="logoBox">
            <a href="/"><img class="logoImg" src="/images/logo/logoBlanco.png" alt="Botacura"></a>
            <a href="/"><img class="logoLetras" src="/images/logo/logoLetrasBlanco.png" alt="Botacura"></a>
        </div>
        <div class="info">
            <ul>
                <li><a href="#">Quienes somos</a></li>
                <li><a href="#">Contacto</a></li>
                <li><a href="#">Atencion al cliente</a></li>
                <li><a href="#">Terminos y condiciones</a></li>
            </ul>
        </div>
        <div class="redes">
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="https://github.com/JuanLamb/ProgramaticGrupo9Sprint2"><i class="fab fa-github"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-facebook-f"></i></a>
        </div>
    </div>
</footer>