
<header class="header-home">
    <section class="headerElements">
        <div class="bars">
            <a href="#"><i class="fas fa-bars"></i></a>
        </div>
        <div class="logo">
            <a href="/"><img src="/images/logo/logo.png" alt="logo"></a>    
        </div>
        <div class="central-navbar">
            <ul>
                <li><a href="/productCatalog">Escalada</a></li>
                <li><a href="/productCatalog">Camperas</a></li>
                <li><a href="/productCatalog">Calzado</a></li>
                <li><a href="/productCatalog">Mochilas</a></li>
                <li><a href="/productCatalog">Marcas</a></li>
            </ul>
        </div>
        <nav class="main-nav">
            
            <div class="right-navbar">
               
                <div class="search">
                    <a><i class="fas fa-search"></i></a>
                </div>

                <div class="user">
                    <a href="/login"><i class="fas fa-user-circle"></i></a>
                </div>

                <div class="cart">
                    <a href="/productCart"><i class="fas fa-shopping-cart"></i></a>
                </div>

                <div class="admin">
                    <a href="/productForm"><p>admin</p></a>
                </div>
            </div>
        </nav>
    </section>
    <section class="searchBox">
        <form action="#" method="POST" class="searchForm">
            <input type="text" class="searchBar" name="search" placeholder="Busca en nuestra tienda">
            <button class="searchButton"><a><i class="fas fa-search"></i></a></button>
        </form>
    </section>
</header>