<aside class="filters">
    <div class="categoryBox brands">
        <h2>MARCAS</h2>
        <form action="" class="brandFilter">

            <div class="checklistBox">
                <input class="filterCheckbox" type="checkbox" id="Marca1">
                <label for="Marca1"></label>
            </div>

            <div class="checklistBox">
                <input class="filterCheckbox" type="checkbox" id="Marca2">
                <label for="Marca2"></label>
            </div>

            <div class="checklistBox">
                <input class="filterCheckbox" type="checkbox" id="Marca3">
                <label for="Marca3"></label>
            </div>

        </form>
    </div>
    <div class="categoryBox sizes">
        <h2>TALLES</h2>
        <form action="" class="sizeFilter">

            <div class="checklistBox">
                <input type="checkbox" class="filterCheckbox" id="S">
                <label for="S">S</label>
            </div>

            <div class="checklistBox">
                <input type="checkbox" class="filterCheckbox" id="M">
                <label for="M">M</label>
            </div>

            <div class="checklistBox">
                <input type="checkbox" class="filterCheckbox" id="L">
                <label for="L">L</label>
            </div>

            <div class="checklistBox">
                <input type="checkbox" class="filterCheckbox" id="XL">
                <label for="XL">XL</label>
            </div>
        </form>
    </div>
    <div class="categoryBox characteristics">
        <h2>CARACTERISTICAS</h2>
        <form action="" class="characteristicsFilter">
            <div class="checklistBox">
                <input type="checkbox" class="filterCheckbox" id="Impermeable">
                <label for="Impermeable">Impermeable</label>
            </div>

            <div class="checklistBox">
                <input type="checkbox" class="filterCheckbox" id="Respirable">
                <label for="Respirable">Respirable</label>
            </div>

        </form>
    </div>
    <div class="categoryBox prices">
        <h2>PRECIOS</h2>
        <form action="" class="priceFilter">
            <div class="priceButtons">
                <input type="submit" value="Menor a Mayor">
                <input type="submit" value="Mayor a Menor">
            </div>
        </form>
    </div>
</aside>