<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head', {selectedProduct})%>

<body>
    
    <%- include('partials/header') %>

    <main class="main-products">
        
        <% productsCatalog.forEach(product => { %>
            <%- include('partials/product', { product }) %>
        <% })%>

    </main>

    <%- include('partials/footer') %>

</body>
</html>