* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Titillium Web', sans-serif;
}

/* =========================== HEADER =========================== */

.header-home{
    background-color: #f2edd7;
    width: 100vw;
    border-bottom: solid 5px #3a6351;
}

.header-home .headerElements {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-home img {
    width: 70px;
}

.header-home .bars {
    height: 30px;
    width: 100px;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 20px;
    padding-left:20px;
}

.header-home .logo {
    padding: 5px 5px 5px 20px;
}

.header-home .main-nav{
    width: 118px;
    padding-right: 20px;
    display: flex;
    justify-content: flex-end;
}

.header-home .right-navbar {
    display: flex;
    justify-content: space-around;
    min-width: 100px;
    flex: 1 1 100%;
}

.header-home .right-navbar i {
    font-size: 20px;
}

.header-home a{
    text-decoration: none;
    color: #393232;
}

.header-home .central-navbar {
    display: none;
    width: 520px;
}

.header-home .central-navbar ul {
    display: flex;
    flex-flow: row;
    width: 100%;
}

.header-home .central-navbar ul li{
    list-style: none;
    margin: 0 20px 0 15px;
    font-size: large;
    font-weight: bold;
}

.header-home .central-navbar ul li a {
    transition: all 400ms ease-in-out;
    border-bottom: solid 2px #f2edd7;
}

.header-home .central-navbar ul li a:hover {
    border-bottom: solid 2px #000;
}

.header-home .search {
    display: none;
}

.header-home .searchBox {
    padding: 5px 0 15px 0;
    width: 100%;
}

.header-home .searchForm {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-home .searchBar {
    min-width: 200px;
    border: none;
    padding: 5px;
    border-radius: 5px 0 0 5px;
}

.header-home .searchButton {
    background-color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    padding: 5px 5px 5px 0;
}

@media (min-width: 769px) {
    .header-home .bars {
        display: none;
    }

    .header-home .central-navbar {
        display: block;
    }

    .header-home .right-navbar {
        justify-content: space-between;
    }

    .header-home .searchBar {
        width: 45%;
    }
    .loginInput {
        width: 45%;
    }
}

@media (min-width: 1200px) {
    .header-home .main-nav {
        padding-right: 40px;
    }
}
/* =================== FORM ========================= */

input:required:invalid {
    border: solid red 1px;
}

input:required:valid {
    border: solid rgb(78, 245, 78) 1px;
}

.login-title {
    text-align: center;
    color: #3a6351;
    margin: 20px;
    font-size: 15px;
}

.login-form {
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    padding: 10px;
}

.login-usuario {
    margin-bottom: 20px;
}

.login-password {
    margin-bottom: 20px;
}

input {
    
    padding: 10px 5px;
    border-radius: 10px;
    width: 65%;
    min-width: 255px;
    margin-bottom: 20px;
    margin-top: 20px;
   
}

.form-link {
    padding: 20px;
    margin: 30px;
}

.login-button button {
    justify-content: center;
    background-color: #3a6351;
    padding: 5px;
    border-radius: 5px;
    width: 90px;
    color: #fff;
 
}

.login-button button a {
    text-decoration: none;
    color: white;
}

.login-button button:hover {
    background-color: #70b195;
    transition: 300ms;
}

/* =================== FOOTER ========================= */

.footer-home {
    border-top: solid 5px #e48257;
    background-color: #f2edd7;
    height: 30vh;
}

.footer-home .suscribe {
    background-image: url(/images/footerImages/img-footer.jpg);
    background-color: #cccccc;
    height: 250px; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.suscribe div {
    width: 80%;
    color: #fff;
    text-align: left;
    max-width: 600px;
}

.form-label {
    margin-bottom: 15px;
}

.subvar {
    display: flex;
    justify-content: space-between;
    border: solid 1px white;
}

.subvar input {
    padding: 10px;
    background-color: transparent;
    border: none;
}

.subvar input::placeholder {
    color: white;
    opacity: 1;
    font-weight: 600;
}

.subvar button {
    border: none;
    background-color: transparent;
    padding-right: 10px;
}

.subvar button a {
    text-decoration: none;
    color: white;
}

.footerBottom {
    background-color: #393232;
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
}

.footerBottom .logoBox {
    display: flex;
    flex-flow: row wrap;
    width: 50%;
    flex: 1 1 50%;
}

.footerBottom .logoImg {
    height: 30px;
}

.footerBottom .logoLetras {
    width: 100px;
    height: 30px;
}

.footerBottom .info {
    flex: 1 1 50%;
}

.footerBottom .redes {
    flex: 1 1 100%;
}

.footerBottom .redes i {
    background-color: #f2edd7;
    color: #393232;
    margin-right: 10px;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    text-align: center;
    padding-top: 5px;
}

.footerBottom ul {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-end;
    font-size: 12px;
    line-height: 20px;
}

.footerBottom li {
    list-style: none;
}

.footerBottom li a {
    text-decoration: none;
    color: #f2edd7;
}