main.productForm {
    background-color: #f2edd7;
    padding: 17px 0px 40px 0px;
}

    main.productForm h1 {
        text-align: center;
        margin: 0% 0% 20px 0%;
    }

    main.productForm section.edicionCreacion {
        width: 70%;
        max-width: 680px;
        margin: auto;
        background-color: white;
        padding: 10px;
        border: black 2px solid;
    }

        main.productForm section.edicionCreacion article.titulos {
            display: flex;
            justify-content: space-around;
        }

        main.productForm article.caracteristicas form div {
            display: flex;
            flex-flow: column;
            padding: 5px;
        }

        main.productForm form div label {
            padding: 5px 0 5px 0;
            flex:1 1 100%;
            font-size: larger;
            font-weight: 600;
        }

        .productForm .formBoxes,
        .productForm .priceBoxes {
            display: flex !important;
            flex-flow: row !important;
        }

        .formBoxes select, 
        .formBoxes label {
            width: 200px;
        }

        .botones {
            align-items: flex-end;
            flex-flow: row !important;
            justify-content: flex-end;
        }

        .botones button {
            border: none;
            padding: 10px;
            width: 130px;
            border-radius: 5px;
            background-color: #e48257;
        }

        .edicionCreacion input {
            max-width:500px ;
        }

        .deleteButton {
            margin-right: 10px;
        }

