* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Titillium Web', sans-serif;

}

/* =========================== HEADER =========================== */

.header-cart{
    background-color: #f2edd7;
    width: 100vw;
    border-bottom: solid 5px #3a6351;
}

.header-cart section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-cart img {
    width: 70px;
}

.header-cart .bars {
    height: 30px;
    width: 100px;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 20px;
    padding-left:20px;
}

.header-cart .logo {
    padding: 5px 5px 5px 20px;
}

.header-cart .main-nav{
    width: 118px;
    padding-right: 20px;
    display: flex;
    justify-content: flex-end;
}

.header-cart .right-navbar {
    display: flex;
    justify-content: space-between;
    min-width: 100px;
    flex: 1 1 100%;
}

.header-cart .right-navbar i {
    font-size: 20px;
}

.header-cart a{
    text-decoration: none;
    color: #393232;
}

.header-cart .central-navbar {
    display: none;
    width: 520px;
}

.header-cart .central-navbar ul {
    display: flex;
    flex-flow: row;
    width: 100%;
}

.header-cart .central-navbar ul li{
    list-style: none;
    margin: 0 20px 0 15px;
    font-size: large;
    font-weight: bold;
}


@media (min-width: 769px) {
    .header-cart .bars {
        display: none;
    }

    .header-cart .central-navbar {
        display: block;
    }
}

@media (min-width: 1200px) {
    .header-cart .main-nav {
        padding-right: 40px;
    }
}
/* ==================== MAIN ========================== */

.main-cart {
    padding: 1px 20px 25px 20px;
    background-color: #f2edd7;
}

.main-cart .mainTitle {
    text-align: center;
}

.main-cart .progressBar {
    display: flex;
    justify-content: space-between;
    max-width: 850px;
    margin: auto;
    padding-bottom: 20px;
}

.main-cart .progressBar div {
    text-align: center;
    color: #393232;
    width: 25%;
}

.main-cart .progressBar .paso {
    background-color: #e48257;
    padding: 5px;
    width: 45px;
    height: 45px;
    margin: auto;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-cart .progressBar .paso1 {
    background-color: #3a6351;
    color: #e48257;
}

.main-cart .progressBar .paso1 i {
    font-size: 2em;
}

.main-cart .progressBar .subtext {
    margin-top: 5px;
}

.main-cart .products {
    margin-top: 10px;
    border: solid 3px #3a6351;
    padding: 5px;
    border-radius: 5px;
    max-width: 850px;
    margin: auto;
}

.main-cart .products .product {
    display: flex;
    flex-flow: row;
    padding: 5px;
    align-items: center;
    justify-content: space-between;
}

.main-cart .products .product .imgName {
    text-align: center;
}

.main-cart .products .product img {
    width: 90px;
}

.main-cart .products .product .quantity .number input {
    width: 40px;
    height: 30px;
    border: solid 1px #393232;
    margin: auto;
}

.main-cart .sumaPrecios {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.main-cart .sumaPrecios div{
    padding: 5px 0 5px 0;
}

.main-cart .buttonDelete button i {
    color: #3a6351;
    padding: 5px;
    border-radius: 5px;
}

.main-cart .shipment {
    margin: auto;
    text-align: left;
    padding: 10px;
    display: flex;
    align-items: flex-end;
    border-bottom: solid 3px #3a6351;
    max-width: 850px;
    margin-bottom: 10px;
}

.main-cart .shipment .extras {
    margin: auto;
    width: 170px;
    flex: 1 1 100%;
}

.main-cart .shipment h3 {
    margin-right: 5px;
}

.backContinue-butttons {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.main-cart .continue {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    max-width: 850px;
    margin: auto;
}

.main-cart .continueButton button{
    background-color: #e48257;
    padding: 10px;
    border-radius: 5px;
}

.main-cart .back {
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    max-width: 850px;
    margin: auto;
}

.main-cart .backButton button{
    background-color: #e48257;
    padding: 10px;
    border-radius: 5px;
}

.main-cart .seguirComprando {
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    max-width: 850px;
    margin: auto;
}

.main-cart .seguirComprando button{
    background-color: #e48257;
    padding: 10px;
    border-radius: 5px;
}

.main-cart button a {
    text-decoration: none;
    color: black;
}
.main-cart .offers {
    width: 100%;
    background-color: #f2edd7;
    border: solid 3px #3a6351;
    padding: 10px;
    display: flex;
    flex-flow: column;
    border-radius: 5px;
    margin-bottom: 10px;
    max-width: 850px;
    margin: auto;
}

.main-cart .offers div {
    text-align: center;
    padding: 5px 0 5px 0;
}

.main-cart .offers div h3 {
    color: #3a6351;
}

.main-cart .offers div i {
    font-size: 2em;
    color: #3a6351;
}

@media (min-width: 360px) {

    .main-cart .progressBar {
        display: none;
    }
}

@media (min-width: 769px) {

    .main-cart .offers {
        flex-flow: row;
        justify-content: space-around;
    }


    .main-cart .progressBar {
        display: flex;
    }
}

/* =================== FOOTER ========================= */

.footer-cart {
    border-top: solid 5px #e48257;
    background-color: #f2edd7;
    height: 30vh;
}

.footer-cart .suscribe {
    background-image: url(/images/footerImages/img-footer.jpg);
    background-color: #cccccc;
    height: 250px; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.suscribe div {
    width: 80%;
    color: #fff;
    text-align: left;
    max-width: 600px;
}

.form-label {
    margin-bottom: 15px;
}

.subvar {
    display: flex;
    justify-content: space-between;
    border: solid 1px white;
}

.subvar input {
    padding: 10px;
    background-color: transparent;
    border: none;
}

.subvar input::placeholder {
    color: white;
    opacity: 1;
    font-weight: 600;
}

.subvar button {
    border: none;
    background-color: transparent;
    padding-right: 10px;
}

.subvar button a {
    text-decoration: none;
    color: white;
}

.footerBottom {
    background-color: #393232;
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
}

.footerBottom .logoBox {
    display: flex;
    flex-flow: row wrap;
    width: 50%;
    flex: 1 1 50%;
}

.footerBottom .logoImg {
    height: 30px;
}

.footerBottom .logoLetras {
    width: 100px;
    height: 30px;
}

.footerBottom .info {
    flex: 1 1 50%;
}

.footerBottom .redes {
    flex: 1 1 100%;
}

.footerBottom .redes i {
    background-color: #f2edd7;
    color: #393232;
    margin-right: 10px;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    text-align: center;
    padding-top: 5px;
}

.footerBottom ul {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-end;
    font-size: 12px;
    line-height: 20px;
}

.footerBottom li {
    list-style: none;
}

.footerBottom li a {
    text-decoration: none;
    color: #f2edd7;
}