<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <title>Login Botacura</title>
</head>

<%- include('../partials/head') %>

    <body>

        <%- include('../partials/header') %>

            <div class="login-title">
                <h2>Ingresá a tu cuenta</h2>
            </div>

                <form action="/login" method="post" form="form-login" class="form-login">
                    <div class="login-form">
                        <div class="login-usuario">
                            <input class="loginInput" type="text" name="usuario" id="usuario" placeholder="Usuario">
                        </div>

                        <div class="login-password">
                            <input class="loginInput" type="password" name="password" id="password" placeholder="Contraseña">
                        </div>

                        <div class="login-button">
                            <button type="submit"><a href="/">Enviar</a></button>
                        </div>
                        <p class="form-link">Aún no estas registrado? <a href="/register">Registrate aquí</a></p>
                    </div>

                </form>


            <%- include('../partials/footer') %>

    </body>

</html>