<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/productCart.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <title>Carrito de compras | Botacura</title>
</head>

<%- include('../partials/head') %>

    <body>

        <%- include('../partials/header') %>

            <main class="main-cart">
                <h1 class="mainTitle">Tu carrito de compras</h1>
                <section class="progressBar">
                    <div class="cart">
                        <div class="paso paso1">
                            <p><i class="fas fa-hiking"></i></p>
                        </div>
                        <p class="subtext">Carrito</p>
                    </div>

                    <div class="send">
                        <div class="paso paso3">
                            <p></p>
                        </div>
                        <p class="subtext">Envío</p>
                    </div>
                    <div class="confirm">
                        <div class="paso paso4">
                            <p></p>
                        </div>
                        <p class="subtext">Confirma y paga</p>
                    </div>
                </section>
                <article class="products">

                    <div class="product">
                        <div class="imgName">
                            <img src="/images/productos/Casco/Casco2/edelrid_zodiac_34_imagen1.jpg" alt="">
                            <p class="productName">Casco</p>
                        </div>
                        <div class="quantity">
                            <form action="productCart.ejs" method="POST" form="cantidad-productCart"
                                class="cantidad-productCart">
                                <p class="productQuantity">Cantidad</p>
                                <div class="number">
                                    <input type="number" id="productQuantity" name="productQuantity">
                                </div>
                            </form>
                        </div>
                        <div class="sumaPrecios">
                            <div class="price">
                                <p>Precio</p>
                                <p>$###</p>
                            </div>
                            <div class="total">
                                <p>Total</p>
                                <p>$###</p>
                            </div>
                        </div>
                        <div class="buttonDelete">
                            <button type="button"><i class="fas fa-trash-alt"></i></button>
                        </div>
                    </div>

                    <div class="product">
                        <div class="imgName">
                            <img src="/images/productos/Casco/Casco2/edelrid_zodiac_34_imagen1.jpg" alt="">
                            <p class="productName">Casco</p>
                        </div>
                        <div class="quantity">
                            <p class="productQuantity">Cantidad</p>
                            <div class="number"></div>
                        </div>
                        <div class="sumaPrecios">
                            <div class="price">
                                <p>Precio</p>
                                <p>$###</p>
                            </div>
                            <div class="total">
                                <p>Total</p>
                                <p>$###</p>
                            </div>
                        </div>
                        <div class="buttonDelete">
                            <button type="button"><i class="fas fa-trash-alt"></i></button>
                        </div>
                    </div>

                    <div class="product">
                        <div class="imgName">
                            <img src="/images/productos/Casco/Casco2/edelrid_zodiac_34_imagen1.jpg" alt="">
                            <p class="productName">Casco</p>
                        </div>
                        <div class="quantity">
                            <p class="productQuantity">Cantidad</p>
                            <div class="number"></div>
                        </div>
                        <div class="sumaPrecios">
                            <div class="price">
                                <p>Precio</p>
                                <p>$###</p>
                            </div>
                            <div class="total">
                                <p>Total</p>
                                <p>$###</p>
                            </div>
                        </div>
                        <div class="buttonDelete">
                            <button type="button"><i class="fas fa-trash-alt"></i></button>
                        </div>
                    </div>
                </article>
                <div class="shipment">
                    <div class="extras">
                        <p>Total Productos AR $###</p>
                        <p>Cupon de Descuento</p>
                        <p>Cargo envio AR$##</p>
                    </div>
                    <h3>TOTAL</h3>
                    <p>AR$###</p>
                </div>
                <div class="backContinue-butttons">


                    <div class="continue">
                        <div class="continueButton">
                           <button type="button" class="continueButton"><a href="/productCart2">Siguiente</a></button>
                        </div>
                    </div>

                    <div class="seguirComprando">
                        <button type="button" class="seguierComprando"><a href="/productCatalog">Seguir Comprando</a></button>
                    </div>

                    <div class="back">
                        <div class="backButton">
                            <button type="button" class="backButton">Atrás</button>
                        </div>
                    </div>
                </div>

                <section class="offers">
                    <div class="freeShipment">
                        <i class="fas fa-truck"></i>
                        <h3>ENVIO GRATIS</h3>
                        <p>en compras superiores a $$</p>
                    </div>
                    <div class="noInterest">
                        <i class="far fa-credit-card"></i>
                        <h3>CUOTAS SIN INTERES</h3>
                        <p>ver promociones bancarias</p>
                    </div>
                    <div class="complains">
                        <i class="fas fa-phone-alt"></i>
                        <h3>RECLAMOS</h3>
                        <p>011-0123-4567</p>
                    </div>
                </section>
            </main>

            <%- include('../partials/footer') %>

    </body>

</html>