<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/productCart2.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <title>Carrito de compras | Botacura</title>
</head>

<%- include('../partials/head') %>

    <body>

        <%- include('../partials/header') %>

        <main class="main-cart">
                <h1 class="mainTitle">Tu carrito de compras</h1>
                <section class="progressBar">
                    <div class="cart">
                        <div class="paso paso1">
                            <p><i class="fas fa-hiking"></i></p>
                        </div>
                        <p class="subtext">Carrito</p>
                    </div>
                    <div class="yourData">
                        <div class="paso paso2">
                            <p></p>
                        </div>
                        <p class="subtext">Tus datos y Envios</p>
                    </div>
                                           
                    <div class="confirm">
                        <div class="paso paso3">
                            <p></p>
                        </div>
                        <p class="subtext">Confirma y paga</p>
                    </div>
                </section>

                
                <h1>Datos de entrega/ Facturación</h1>

                <div class="form-titulo">
                        
                    <form action="/productCart2" method="post" form="form-productCart2" class="form-productCart2">
                        <div class="productCart2-form">
                            <div class="productCart2-nombre">
                                <input type="text" name="nombre" id="nombre" placeholder="Nombre y Apellido">
                            </div>
    
                            <div class="direccion">
                                <input type="direccion" name="direccion" id="direccion" placeholder="Direccion">
                            </div>
    
                            <div class="telefono">
                                <input type="telefono" name="telefono" id="telefono" placeholder="Telefono">
                            </div>
                            <div class="dni o cuil">
                                <input type="dni" name="dni" id="dni" placeholder="DNI o CUIL">
                            </div >
                                <select class="envio">
                                <option>Selecciona una opción</option>
                                <option value="Envio a domicilio">Envio a domicilio</option>
                                <option value="Retiro por local">Retiro por local</option>
                                <option value="Retiro por correo">Retiro por correo</option>

                               </select>
                           </div>

                           <div class="login-button">
                            <button type="submit"><a href="/">Enviar</a></button>
                        </div>
                       <div>

                    </form>

<div class="caja">

            <h2>Resumen Pedido</h2>
         
          <p class="text">Producto:</p><img src="/images/productos/camperas/campera-1/campera1-frente.jpg">
             <p class="text-right">SubTotal: <span id="total"></span>$00.00;</p>
             <p class= "text">Envio:</p><span id="envio"></span>$00.00;</p>
             <p class="text-right">Total: <span id="total"></span>$00.00;</p>
                 
    </div>


</div>
    <section class="offers">
        <div class="freeShipment">
            <i class="fas fa-truck"></i>
            <h3>ENVIO GRATIS</h3>
            <p>en compras superiores a $$</p>
        </div>
        <div class="noInterest">
            <i class="far fa-credit-card"></i>
            <h3>CUOTAS SIN INTERES</h3>
            <p>ver promociones bancarias</p>
        </div>
        <div class="complains">
            <i class="fas fa-phone-alt"></i>
            <h3>RECLAMOS</h3>
            <p>011-0123-4567</p>
        </div>
    </section>
</main>

<%- include('../partials/footer') %>

</body>

</html>