<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/productEdit.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <title>Login Botacura</title>
</head>

<%- include('../partials/head') %>

    <body>

        <%- include('../partials/header') %>

        <main class="productForm">

            <h1>Editar producto NOMBRE PRODUCTO</h1>
    
            <section class="edicionCreacion">
                <article class="caracteristicas">
                    <form method="POST" action="/">
        
                        <div class="nombre">
                            <label for="nombre">Nombre</label>
                            <input type="text" name="nombre" id="nombre">
                        </div>
        
                        <div class="marca">
                            <label for="marca">Marca</label>
                            <input type="text" name="marca" id="marca">
                        </div>
        
                       <div class="formBoxes">
                            <div class="categoria">
                                <label for="categoria">Categoría</label>
                                <select name="categoria" id="categoria">
                                    <option value="escalada">Escalada</option>
                                    <option value="camperas">Camperas</option>
                                    <option value="calzado">Calzado</option>
                                    <option value="mochilas">Mochilas</option>
                                </select>
                            </div>
            
                            <div class="color">
                                <label for="color">Color</label>
                                <select name="color" id="color">
                                    <option value="none">Solo uno</option>
                                    <option value="#eb4034">Rojo</option>
                                    <option value="#5a42f5">Azul</option>
                                    <option value="#3636e0">Amarillo</option>
                                </select>
                            </div>
            
                            <div class="talle">
                                <label for="talle">Talle</label>
                                <select name="talle" id="talle">
                                    <option value="35">35</option>
                                    <option value="36">36</option>
                                    <option value="37">37</option>
                                    <option value="38">38</option>
                                    <option value="39">39</option>
                                    <option value="40">40</option>
                                    <option value="41">41</option>
                                    <option value="42">42</option>
                                    <option value="43">43</option>
                                    <option value="44">44</option>
                                </select>
                            </div>
                       </div>
        
                       <div class="priceBoxes">
                            <div class="precio">
                                <label for="precio">Precio</label>
                                <input type="number" name="precio" id="precio">
                            </div>
            
                            <div class="descuento">
                                <label for="descuento">Descuento</label>
                                <input type="number" name="descuento" id="descuento">
                            </div>
                       </div>
    
                       <div class="descripcion">
                            <label for="descripcion">Descripción</label>
                            <input type="text" name="descripcion" id="descripcion">
                        </div>
    
                        <div class="imagen">
                            <label for="imagen">Imagen</label>
                            <input type="file" name="imagen" id="imagen" accept=".jpg" >
                        </div>
                        
                        <div class="botones">
                            <button class="deleteButton" type="submit">Borrar producto</button>
                            <button type="submit">Actualizar</button>
                        </div>
    
                    </form>
                </article>
                
            </section>
        </main>

        <%- include('../partials/footer') %>

    </body>

</html>