<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/register.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <title>Registro Botacura</title>
</head>

<%- include('../partials/head') %>

    <body>

        <%- include('../partials/header') %>

            <div class="form-titulo">

                <h2>Registro de usuario</h2>

            </div>

            <form action="/register" method="POST" form="form-registro" class="form-registro">
 
                        <div class="registerInput">
                            <input type="text" placeholder="Nombre y apellido" name="nombre-apellido"
                                id="nombre-apellido" required>
                        </div>

                        <div class="registerInput">
                            <input type="text" placeholder="Usuario" name="usuario" id="usuario" minlength="5" required>
                        </div>

                        <div class="registerInput">
                            <input type="email" placeholder="E-mail" name="email" id="email" required>
                        </div>

                        <h4>Fecha de nacimiento:</h4>

                        <div class="registerInput">
                            <input type="date" name="nacimiento" id="nacimiento" required>
                        </div>

                        <div class="registerInput">
                            <input type="text" name="domicilio" id="domicilio" placeholder="Domicilio" required>
                        </div>

                        <div class="registerInput">
                            <input type="password" name="password" id="password" placeholder="Contraseña" required>
                        </div>

                        <div class="registerInput">
                            <input type="password" name="password" id="password-confirm"
                                placeholder="Confirma tu contraseña" required>
                        </div>

                    <h4>Foto de usuario</h4>
                    <div class="registerInput">

                        <input type="file" name="avatar" id="avatar" accept=".jpg" multiple>
                    </div>
                    
                    <div class="button">
                        <button type="reset">Cancelar</button>
                        <button type="submit"><a href="/">Enviar</a></button>
                    </div>

                    <p class="form-link">Ya estás registrado? <a href="/login">Ingrese aquí</a></p>
            </form>

            <%- include('../partials/footer') %>

    </body>

</html>