<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/productDetail.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <title>Detalle del producto | Botacura</title>
</head>

    <%- include('../partials/head') %>

<body>
    
    <%- include('../partials/header') %>


    <main class="productDetail">
        <section class="imagenes">
            <div class="imagen-principal">
                <img src="/images/productos/Casco/Casco2/edelrid_zodiac_34_imagen1.jpg" alt="fotoPrincipal">
            </div>

            <div class="imagenes-der">
                <img src="/images/productos/Casco/Casco2/edelrid_zodiac_36_imagen5.jpg" alt="primeraFotoDer">
                <img src="/images/productos/Casco/Casco2/edelrid_zodiac_37_imagen7.jpg" alt="segundaFotoDer">
                <img src="/images/productos/Casco/Casco2/edelrid_zodiac_38_imagen8.jpg" alt="terceraFotoDer">
            </div>
        </section>
        

        <section class="caracteristicas">
            <div class="titulo-seccion">
                <h2>CASCO EDELRID ZODIAC</h2>
                <form action="">
                    <button><a href="/productEdit">Editar Admin</a></button>
                </form>
            </div>
            
            <div class="formulario">
                <form>
                    <div class="color-ropa">
                        <label>Color</label>
                        <p><input type="radio" name="color" value="rojo" checked>Rojo</p>
                        <p><input type="radio" name="color" value="naranja">Naranja</p>
                        <p><input type="radio" name="color" value="azul">Azul</p>
                    </div>
                    
                    <div class="talle-ropa">
                        <label>Talle</label>
                        <p><input type="radio" name="talle" value="uno" checked>S</p>
                        <p><input type="radio" name="talle" value="dos">M</p>
                        <p><input type="radio" name="talle" value="tres">X</p>
                        <p><input type="radio" name="talle" value="cuatro">XL</p>
                    </div>

                    <div class="botones-precio">
                        <button type="submit">Comprar</button>
                        <div class="parrafos">
                            <p id="precio">$1200</p>
                            <p id="descuento">0% Off</p>
                        </div>
                        <button type="submit">Agregar a deseados</button>
                    </div>
                </form>
            </div>

            <div class="descripcion">
                <p>El Zodiac es un casco híbrido ligero y extremadamente estable con una cáscara de ABS y revestimiento de espuma EPS. El sistema Wing-Fit con el dial de ajuste trasero permite un ajuste fácil y de forma individual. Gracias a su innovador sistema de cierre en la oreja, la barbilla y el cuello se mantienen libres de hebillas. La regulación en la nuca se pliega dentro del casco, reduciendo significativamente el tamaño al guardarlo.
                    Viene en talle único para medida de 54 a 62cm.
                    NORMA CE-EN 12492</p>
            </div>
        </section>

        <section class="recomendados">
            <div class="titulo-seccion">
                <h2>Te podría interesar...</h2>
            </div>
            
            <div class="productos">
                <article class="producto">
                    <img src="/images/productos/calzado/botas_trekking_hombre_1A.jpg" alt="producto-recomendado">
                    <h3>Botas de trekking para hombre</h3>
                </article>

                <article class="producto">
                    <img src="/images/productos/camperas/campera-1/campera1-frente.jpg" alt="producto-recomendado">
                    <h3>Chaqueta para snowboard ski para hombre</h3>
                </article>
            
                <article class="producto">
                    <img src="/images/productos/calzado/botas_senderismo_mujer_1A.jpg" alt="producto-recomendado">
                    <h3>Botas de senderismo para mujer</h3>
                </article>
            </div>
            
        </section>

        <section class="comentarios">
            <div class="titulo-seccion">
                <h2>¡Dejanos tu opinión!</h2>
            </div>
            
            <article class="comentario">
                <img src="/images/fotosDePerfil/fotoDePerfil1.png" alt="fotoDePerfil">
                <h3>Cliente 1</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure totam quibusdam ipsa officiis, esse quas cupiditate quo. Ea repudiandae deleniti sunt incidunt, repellat nam saepe culpa esse optio. Beatae, possimus!</p>
            </article>

            <article class="comentario">
                <img src="/images/fotosDePerfil/fotoDePerfil2.png" alt="fotoDePerfil">
                <h3>Cliente 2</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure totam quibusdam ipsa officiis, esse quas cupiditate quo. Ea repudiandae deleniti sunt incidunt, repellat nam saepe culpa esse optio. Beatae, possimus!</p>
            </article>

            <article class="comentario">
                <img src="/images/fotosDePerfil/fotoDePerfil3.png" alt="fotoDePerfil">
                <h3>Cliente 3</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure totam quibusdam ipsa officiis, esse quas cupiditate quo. Ea repudiandae deleniti sunt incidunt, repellat nam saepe culpa esse optio. Beatae, possimus!</p>
            </article>

            <article class="tuComentario">                
                    <div class="comentarioUsuario">
                        <img src="/images/fotosDePerfil/fotoDePerfil4.png" alt="fotoDePerfil">
                        <h3>Usuario</h3>
                        <form action="/tuComentario" method="POST">
                            <label for="comentario"></label>
                            <textarea name="comentarioUsuario" id="comentario" placeholder="¡Escribí tu comentario!"></textarea>
                        </form>
                    </div>
            </article>
        </section>
    </main>

    <%- include('../partials/footer') %>

</body>
</html>